aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cfscrape==2.1.1
chardet==3.0.4
cloudscraper==1.2.58
discord==1.0.1
discord.py==1.7.2
faapi==2.19.3
greenlet==1.1.0
idna==2.10
lxml==4.6.3
multidict==5.1.0
pixiv-api==1.0.0
playwright==1.11.2
pyee==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.23.0
requests-toolbelt==0.9.1
saucenao-api==2.3.1
selenium==3.141.0
selenium-stealth==1.0.6
six==1.16.0
soupsieve==2.2.1
TikTokApi==3.9.6
typing-extensions==3.10.0.0
urllib3==1.25.11
websockets==9.0.2
xmltodict==0.12.0
yarl==1.6.3
