aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
bbcode==1.1.0
beautifulsoup4==4.12.2
blurhash==1.1.4
Brotli==1.0.9
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.2.0
decorator==5.1.1
dnspython==2.4.0
exceptiongroup==1.1.2
faapi==3.11.3
frozenlist==1.4.0
h11==0.14.0
httpcore==0.17.3
idna==2.10
lxml==4.9.3
Mastodon.py==1.8.1
multidict==6.0.4
mutagen==1.46.0
py-cord==2.4.1
pycryptodomex==3.18.0
pymongo==4.4.1
python-dateutil==2.8.2
python-magic==0.4.27
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
typing_extensions==4.7.1
urllib3==2.0.5
websockets==11.0.3
xmltodict==0.13.0
yarl==1.9.2
yt-dlp==2023.7.6
