discord:
  token: "discord-bot-token"
  role_channel: "role-channel"
  logs_channel: 123456789012345678
  sauce_channels: # Channels ids where source providing should work
    - 123456789012345678
    - 234567890123456789
  money_guilds:
    - 345678901234567890
    - 456789012345678901

mongodb:
  uri: "mongodb://mongodb:27017/" # use mongodb://127.0.0.1/sourcebot for local development, leave alone for docker
  db: "sourcebot"

telegram:
  token: "-"

media:
  path: "/path/to/media"
  url: "https://example.com"

# Credentials to websites/api tokens   
e621:
  username: "-"
  api_key: "-"  
  
furaffinity:
  cookie:
    a: "-"
    b: "-"

inkbunny:
  username: "-"
  password: "-"

pixiv:
  username: "-"
  password: "-"
  token: "-"

saucenao:
  token: "-"

twitter:
  token: "-"