discord:
  token: "discord-bot-token"
  role_channel: 'role-channel'
  art_channels: # Channels ids where source providing should work
    - 123456789012345678
    - 234567890123456789 

# Credentials to websites/api tokens   
e621:
  username: "-"
  api_key: "-"  
  
furaffinity:
  cookie:
    a: "-"
    b: "-"

inkbunny:
  username: "-"
  password: "-"

pixiv:
  username: "-"
  password: "-"
  token: "-"

saucenao:
  token: "-"

twitter:
  token: "-"